<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
</head>
<body>
    <h1>Va a cerrar sesión ¿Desea continuar?</h1>
    <form id="logoutForm" action="confirmLogout" style="display: inline;">
        <input type="submit" value="Cerrar sesión">
    </form>
    <button onclick="goBack()">Volver</button>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>
